#body {
    overflow: hidden;
}
#rainbow img {
    position: absolute;
}
#rainbow {
    position: fixed;
    top: 200px;
    left: 300px;
    width: 256px;
    height: 256px;
    background: gray;
    
}

